target/
*.class
*.project
*.settings
*.classpath
*.metadata
*.checkstyle
*.pmd
*.log
/out
*.orig
*.swp
*.iml
.idea
checkversion.txt
.attach_pid*
*.License
*.TP
*.tp
**/dependency-reduced-pom.xml

/.direnv

