<!DOCTYPE html>

<html>
<head>
    <title>BK Card template</title>
</head>
<body>
<table>
<#list cardPlayers as cardPlayer>

        <tr>
            <td>Name</td>
            <td>${cardPlayer.player.firstName} ${cardPlayer.player.lastName} (${cardPlayer.player.memberId})</td>
        </tr>
        <tr>
            <td>Club</td>
            <td>${cardPlayer.player.clubName}</td>
        </tr>
        <#list cardPlayer.firstMatchPerEventType as firstMatch>
        <tr>
            <td>${firstMatch.eventName}</td>
            <td>${firstMatch.date?datetime}:  ${firstMatch.teamVsTeamVisual()}  </td>
        </tr>
        </#list>

</#list>
</table>

</body>
</html>